<div class="text-center lg:pt-32 mb-12">
    <h1 class="font-display text-2xl font-bold tracking-tight text-slate-900 sm:text-3xl">
        Bienvenue chez les Potits Chats !
        <fa-icon [icon]="faPaw" (click)="showSuccess()"></fa-icon>
    </h1>
    <p class="text-center text-lg tracking-tight text-slate-700">
        Notre plateforme regroupe les annonces de diverses associations afin de vous aider à trouver votre nouveau
        compagnon.
    </p>

    <div>
        <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-orange-700 text-white hover:bg-orange-800 hover:text-white active:bg-orange-600 active:text-white focus-visible:outline-orange-700"
            routerLink="/animaux" routerLinkActive="active" ariaCurrentWhenActive="page">
            Voir tous les animaux
        </a>
    </div>
</div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7">Comment ça marche ?</h2>
      <p class="mt-2 text-lg tracking-tight text-gray-900 sm:text-lg">Tout ce que vous devez savoir pour adopter votre nouveau compagnon</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Un processus simple et sécurisé en quatre étapes pour accueillir un chat dans votre vie.</p>
    </div>

    <!-- Première étape : Découvrez -->
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto mt-16 sm:mt-20 lg:mt-24">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-8 h-8 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-700 text-white relative z-10 title-font font-medium text-sm">1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0">
          <img src="../../assets/home/decouvre.png" alt="Description of the image" class="w-48 h-48 object-contain"> <!-- Image agrandie sans bordure ronde -->
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Découvrez</h2>
          <p class="leading-relaxed">Plongez dans l’histoire unique de chaque chat. Apprenez à connaître leurs petites habitudes, leurs besoins et laissez-vous séduire par celui qui saura combler votre cœur.</p>
        </div>
      </div>
    </div>

    <!-- Deuxième étape : Contactez -->
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-8 h-8 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-700 text-white relative z-10 title-font font-medium text-sm">2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0">
          <img src="../../assets/home/contact.png" alt="Description of the image" class="w-48 h-48 object-contain"> <!-- Image agrandie sans bordure ronde -->
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Contactez</h2>
          <p class="leading-relaxed">Entrez en contact avec l'association qui veille sur le chat. Posez toutes vos questions, découvrez-en plus sur sa personnalité, et préparez-vous à une belle rencontre.</p>
        </div>
      </div>
    </div>

    <!-- Troisième étape : Rencontrez -->
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-8 h-8 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-700 text-white relative z-10 title-font font-medium text-sm">3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0">
          <img src="../../assets/home/rencontre.png" alt="Description of the image" class="w-48 h-48 object-contain"> <!-- Image agrandie sans bordure ronde -->
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Rencontrez</h2>
          <p class="leading-relaxed">Venez rencontrer votre futur compagnon ! Prenez rendez-vous avec l'association et assurez-vous que le courant passe entre vous, que ses petites manies s’accordent à votre mode de vie.</p>
        </div>
      </div>
    </div>

    <!-- Quatrième étape : Adoptez -->
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-8 h-8 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-700 text-white relative z-10 title-font font-medium text-sm">4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-shrink-0">
          <img src="../../assets/home/adopter.png" alt="Description of the image" class="w-48 h-48 object-contain"> <!-- Image agrandie sans bordure ronde -->
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Adoptez
              <fa-icon  style="color: #f97316;" [icon]="faHeart" aria-label="Coeur" title="Coeur" class="ml-1"> </fa-icon>
          </h2>
          <p class="leading-relaxed">Le moment est enfin arrivé : ouvrez votre maison et votre cœur à votre nouveau compagnon. Nous serons toujours là pour vous soutenir dans cette belle aventure.</p>
        </div>
      </div>
    </div>

  </div>
</section>





<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Notre mission : Donner une nouvelle vie aux chats abandonnés</h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-gray-600">Nous nous engageons à offrir une seconde chance aux chats abandonnés. En collaborant avec des refuges et des associations, nous aidons ces animaux à trouver un foyer aimant et sécurisé. Nous aspirons à créer des liens durables entre les familles et ces nouveaux compagnons.</p>
          <p class="mt-8 max-w-xl text-lg leading-7 text-gray-700">Grâce à notre plateforme, l'adoption devient simple, transparente et responsable. Ensemble, nous pouvons changer des vies. Chaque adoption est un acte de compassion et un pas vers une société plus humaine.</p>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">Chats abandonnés chaque année</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">100,000</dd> <!-- Hypothetical data -->
              </div>
            <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">Chats adoptés via notre plateforme</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">235</dd> <!-- Hypothetical data -->
              </div>
            <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">Partenaires refuges et associations</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">120</dd> <!-- Hypothetical data -->
              </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
