<app-loader *ngIf="!isLoaded"></app-loader>

<div *ngIf="isLoaded && associations && associations.length > 0" class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <li 
      *ngFor="let association of associations"
      class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow flex flex-col transition transform duration-300 hover:scale-105 cursor-pointer"
      [routerLink]="['/associations', association.id]">
      
      <div class="flex-1 p-6 flex flex-col items-center">
        <!-- Nom de l'association -->
        <a [routerLink]="['/associations', association.id]" class="text-center">
          <h2 class="text-xl font-medium text-gray-900">{{ association.nom }}</h2>
        </a>

        <!-- Image de l'association -->
        <div class="mt-4" *ngIf="association.photos && association.photos.length > 0">
          <img class="h-32 w-32 rounded-full object-cover mx-auto" [src]="association.photos[0].url" alt="{{ association.nom }}">
        </div>        

        <!-- Description de l'association -->
        <p class="mt-4 text-sm text-gray-500 text-center">{{ association.shortDescription }}</p>
      </div>

      <div>
        <div class="-mt-px flex divide-x divide-gray-200">
          <!-- Ville -->
          <div class="flex w-0 flex-1">
            <div class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
              <fa-icon [icon]="faLocationDot" aria-label="Location" title="Location" class="mr-2 fa-xl"></fa-icon>
              {{ association.ville }}
            </div>
          </div>
          <!-- Nombre de chats (exemple de fonctionnalité supplémentaire) -->
          <div class="-ml-px flex w-0 flex-1">
            <div class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
              <fa-icon [icon]="faCat" aria-label="Location" title="Location" class="mr-2 fa-xl"></fa-icon>
              {{ association.chats.length }}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<app-associations-form></app-associations-form>
