<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <div class="w-full sm:w-1/4 bg-white border-r border-gray-300 dark:border-gray-600" *ngIf="menuVisible">
    <!-- Sidebar Header -->
    <header class="p-4 flex justify-between items-center bg-orange-600 text-white">
      <h1 class="text-2xl font-semibold">Messages</h1>
      <div class="relative">
        <button *ngIf="menuVisible" id="menuButton" (click)="toggleMenu()" >
          <fa-icon [icon]="faCaretSquareLeft" size="2x"></fa-icon>
        </button>
      </div>
    </header>

    <!-- Contact List -->
    <div class="overflow-y-auto h-screen p-3 mb-9 pb-20 dark:bg-gray-700 dark:text-white">
      <div *ngIf="conversations.length > 0; else noConversations">
        <div *ngFor="let conversation of conversations"
             (click)="onSelectConversation(conversation)"
             class="flex items-center mb-4 cursor-pointer p-2 rounded-md dark:hover:bg-gray-600"
             [ngClass]="{
               'bg-gray-100 dark:bg-gray-600': selectedConversation?.id === conversation.id,
               'hover:bg-gray-100': selectedConversation?.id !== conversation.id
             }">
          <div *ngIf="conversation.img || conversation?.photos" class="w-12 h-12 bg-gray-300 rounded-full mr-3">
            <!-- lazy -->
            <img [src]="conversation?.img || conversation!.photos![0].url" alt="User Avatar" class="w-12 h-12 rounded-full" loading="lazy">
          </div>

          <div class="flex-1">
            <h3 class="text-lg font-semibold">{{ conversation.nom }}</h3>
            <p class="text-gray-600 dark:text-white">{{ timeAgo(conversation.messages[0].createdAt) || "" }} - {{ truncateMessage(conversation.messages[0].contenu) || 'No message yet' }}</p>
          </div>
        </div>
      </div>
      <ng-template #noConversations>
        <p class="text-center text-gray-600 dark:text-gray-300">No conversations available.</p>
      </ng-template>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-1 relative">
    <app-tchat-message *ngIf="utilisateur" [selectedConversation]="selectedConversation" [utilisateur]="utilisateur"></app-tchat-message>
    <button *ngIf="!menuVisible" id="menuButton" (click)="toggleMenu()" class="absolute top-4 left-4 focus:outline-none bg-orange-600 text-white p-2 rounded-md">
      <fa-icon [icon]="faCaretSquareRight" size="2x"></fa-icon>
    </button>
  </div>
</div>
